{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
    var gpus_url = "{{=URL('api', 'get_gpus')}}";
    var cpus_url = "{{=URL('api', 'get_cpus')}}";
    var rams_url = "{{=URL('api', 'get_rams')}}";
    var hdds_url = "{{=URL('api', 'get_hdds')}}";
    var mboards_url = "{{=URL('api', 'get_mboards')}}";
    var psus_url = "{{=URL('api', 'get_psus')}}";
    var del_build_url = "{{=URL('api', 'del_build')}}";
    var update_build_name_url = "{{=URL('api', 'update_build_name')}}";
    var get_my_builds_url = "{{=URL('api', 'get_my_builds')}}";
    var all_builds_url = "{{=URL('api', 'get_all_builds')}}";
    var get_build_url = "{{=URL('api', 'get_build')}}";
    var insert_build_url = "{{=URL('api', 'insert_build')}}";
    var add_gpu_url = "{{=URL('api', 'add_gpu', user_signature=True)}}";
    var add_to_build_url = "{{=URL('api', 'add_to_build', user_signature=True)}}";
    var del_from_build_url = "{{=URL('api', 'del_from_build', user_signature=True)}}";
    var current_user = "{{=auth.user.email if auth.user else None}}";
    var get_user_url = "{{=URL('api', 'get_user')}}";
    var current_user_email = "{{=auth.user.email if auth.user else None}}";
</script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
       
		<header class="site-header">
			<div class="site-header__content">
				<!-- <img class="site-logo"> -->
				<!-- <i class="fa fa-hdd-o"></i> -->
				<div class="logo__text"><span>PC Builder</span></div>
				<!-- <button class="btn btn__admin">Login</button> -->
				<div v-if="!current_user" class="btn__admin"><a class="btn__text" href="/finalproject/default/user/login?_next=/finalproject/default/index" rel="nofollow">Login / Signup</a></div>
 				<div v-if="current_user" class="btn__admin"><span class="logged-in-user">Hello, ${current_user.first_name}</span><a class="btn__text" href="/finalproject/default/user/logout?_next=/finalproject/default/index" rel="nofollow" v-on:click="clear_build_parts()">Log Out</a>
				</div>
			</div>
		</header>

		<nav class="site-nav">
			<ul class="site-nav__list">
				<li class="site-nav__item" :class="{'site-nav__item is-active' : page == 'Processor', 'site-nav__item' : page != 'Processor' }" v-on:click.prevent="goto('Processor')">
					<div class="site-nav__name">Processor</div>
				</li>
				<li class="site-nav__item" :class="{'site-nav__item is-active' : page == 'Graphics Card', 'site-nav__item' : page != 'Graphics Card' }" v-on:click.prevent="goto('Graphics Card')">
					<div class="site-nav__name">Grahpics Card</div>
				</li>
				<li class="site-nav__item" :class="{'site-nav__item is-active' : page == 'Memory', 'site-nav__item' : page != 'Memory' }" v-on:click.prevent="goto('Memory')">
					<div class="site-nav__name">Memory</div>
				</li>
				<li class="site-nav__item" :class="{'site-nav__item is-active' : page == 'Storage', 'site-nav__item' : page != 'Storage' }" v-on:click.prevent="goto('Storage')">
					<div class="site-nav__name">Storage</div>
				</li>
				<li class="site-nav__item" :class="{'site-nav__item is-active' : page == 'Motherboard', 'site-nav__item' : page != 'Motherboard' }" v-on:click.prevent="goto('Motherboard')">
					<div class="site-nav__name">Motherboard</div>
				</li>
				<li class="site-nav__item" :class="{'site-nav__item is-active' : page == 'Power Supply', 'site-nav__item' : page != 'Power Supply' }" v-on:click.prevent="goto('Power Supply')">
					<div class="site-nav__name">Power Supply</div>
				</li>
				<li v-if="current_user" class="site-nav__item view-my-builds" :class="{'site-nav__item is-active' : page == 'My Builds' || page.substring(0,7)=='Viewing', 'site-nav__item' : page != 'My Builds' }" v-on:click.prevent="goto('My Builds')">
					<div class="site-nav__name">My Builds</div>
				</li>
				<li class="site-nav__item view-all-builds" :class="{'site-nav__item is-active' : page == 'All Builds', 'site-nav__item' : page != 'All Builds' }" v-on:click.prevent="goto('All Builds')">
					<div class="site-nav__name">All Builds</div>
				</li>
			</ul>
		</nav>

		<div class="site-content">
			<section class="site-content__section--twothirds">
				<header class="site-content__banner">${page}</header>
				<div class="product-wrapper">
					<!-- <div class="products__filter">Sort by <div class="products__dropdown">Price <i class="ion ion-chevron-down"></i></div></div> -->

					<ul class="products__list">

						<template v-if="page=='Graphics Card'">
							<li class="product" v-for="(gpu, i) in gpus" v-on:click.prevent="toggle_expand(i, 'Graphics Card', $event)">
								<div class="product__row">
									<img v-bind:src="gpu.image" alt="" class="product__img">
									<div class="product__name">${gpu.name}</div>
									<div class="product__price">$${gpu.price}</div>
									<button class="btn btn-add" v-on:click.prevent="add_to_build(i)">Add</button>
								</div>
								<template v-if="!gpu.expanded">
									<div class="product__row">
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Memory</div>
											<div class="product__spec-value">6 GB</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Core Clock</div>
											<div class="product__spec-value">${gpu.core_clock} Ghz</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Interface</div>
											<div class="product__spec-value">${gpu.interface}</div>
										</div>
									</div>
								</template>
								<template v-if="gpu.expanded">		
									<div class="product__row product__row--expanded">
										<div class="product__specs--expanded">
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Part Number</div>
												<div class="product__spec-value">${gpu.part_num}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Memory</div>
												<div class="product__spec-value">${gpu.memory_size} GB</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Core Clock</div>
												<div class="product__spec-value">${gpu.core_clock} Ghz</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Interface</div>
												<div class="product__spec-value">${gpu.interface}</div>
											</div>											
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Memory Type</div>
												<div class="product__spec-value">${gpu.memory_type}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">TDP</div>
												<div class="product__spec-value">${gpu.tdp}W</div>
											</div>
										</div>

										<div style="display: flex; flex-direction: column; width: 100%;">

											<div class="barchart">
											  <div class="barchart__title">3D Marks Score (Ultra settings)</div>
											  <div class="barchart__row barchart__row--highlight">
											    <div class='barchart__name tooltip'><span>${gpu.name}</span><div class="tooltiptext">${gpu.name}</div></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: gpu.width + '%'}"></div>
											      <div class="barchart__value">${gpu.benchmark}</div>
											    </div>
											  </div>  
											  <div v-for="(similar, j) in gpus[i].similar_items" class="barchart__row">
											    <div class='barchart__name tooltip'><span>${similar.name}</span><div class="tooltiptext">${similar.name}</div></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: similar.width + '%'}"></div>
											      <div class="barchart__value">${similar.benchmark}</div>
											    </div>
											  </div>  															  
											</div>	
											
											<!-- src="http://ecx.images-amazon.com/images/I/41zMsYinRXL.jpg" -->
											<div class="product__row--col">
												<h3 class="suggestions__title">Similar items...</h3>
												<div class="suggestions">
													<div v-for="similar in gpus[i].similar_items" class="suggested-product">
														<img class="suggested__img" v-bind:src="similar.image" height="40" alt="" class="suggested-product__img">
														<span class="suggested-product__name">${similar.name}</span>
													</div>
												</div>
											</div>

										</div>						
									</div>
								</template>
								<!-- v-if="gpu.expanded" -->
							</li>
							<!-- .product -->
						</template>
						<!-- v-if="page=='Graphics Card'"" -->

						<template v-if="page=='Processor'">
							<li class="product" v-for="(cpu, i) in cpus" v-on:click.prevent="toggle_expand(i, 'Processor', $event)">
								<div class="product__row">
									<img v-bind:src="cpu.image" alt="" class="product__img">
									<div class="product__name">${cpu.name}</div>
									<div class="product__price">${cpu.price}</div>
									<button class="btn btn-add" v-on:click.prevent="add_to_build(i)">Add</button>
								</div>
								<template v-if="!cpu.expanded">
									<div class="product__row">
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Frequency</div>
											<div class="product__spec-value">${cpu.op_freq} Ghz</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Cores</div>
											<div class="product__spec-value">${cpu.cores}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Socket</div>
											<div class="product__spec-value">${cpu.socket}</div>
										</div>
									</div>
								</template>
								<template v-if="cpu.expanded">		
									<div class="product__row">
										<div class="product__specs--expanded">
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Part Number</div>
												<div class="product__spec-value">${cpu.part_num}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Frequency</div>
												<div class="product__spec-value">${cpu.op_freq} Ghz</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Cores</div>
												<div class="product__spec-value">${cpu.cores}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">l3_cache</div>
												<div class="product__spec-value">${cpu.l3_cache}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Turbo Frequency</div>
												<div class="product__spec-value">${cpu.turbo_freq} Ghz</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Power</div>
												<div class="product__spec-value">${cpu.cpu_power}W</div>
											</div>
										</div>

										<div style="display: flex; flex-direction: column; width: 100%;">

											<div class="barchart">
											  <div class="barchart__title">Passmark Score</div>								
											  <div class="barchart__row barchart__row--highlight">
											    <div class='barchart__name'><span>${cpu.name}</span></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: cpu.width + '%'}"></div>
											      <div class="barchart__value">${cpu.benchmark}</div>
											    </div>
											  </div>  
											  <div v-for="similar in cpus[i].similar_items" class="barchart__row">
											    <div class='barchart__name'><span>${similar.name}</span></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: similar.width + '%'}"></div>
											      <div class="barchart__value">${similar.benchmark}</div>
											    </div>
											  </div>  															  
											</div>	
											
											<!-- src="http://cdn.pcpartpicker.com/static/forever/images/product/614a9c530cce56d1fafbc5ba97920ab1.256p.jpg" -->
											<div class="product__row--col">
												<h3 class="suggestions__title">Similar items...</h3>
												<div class="suggestions">
													<div v-for="(similar, j) in cpus[i].similar_items" class="suggested-product">
														<img  height="40" class="suggested__img" v-bind:src="similar.image" alt="" class="suggested-product__img">
														<span class="suggested-product__name">${similar.name}</span>
													</div>
												</div>
											</div>

										</div>						
									</div>
								</template>
								<!-- v-if="gpu.expanded" -->
							</li>
						</template>

						<template v-if="page=='Memory'">
							<li class="product" v-for="(ram, i) in rams" v-on:click.prevent="toggle_expand(i, 'Memory', $event)">
								<div class="product__row">
									<img v-bind:src="ram.image" alt="" class="product__img">
									<div class="product__name">${ram.name}</div>
									<div class="product__price">${ram.price}</div>
									<button class="btn btn-add" v-on:click.prevent="add_to_build(i)">Add</button>
								</div>
								<template v-if="!ram.expanded">
									<div class="product__row">
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Type</div>
											<div class="product__spec-value">${ram.ram_type}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Speed</div>
											<div class="product__spec-value">${ram.speed}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Cas latency</div>
											<div class="product__spec-value">${ram.cas_latency}</div>
										</div>
									</div>
								</template>
								<template v-if="ram.expanded">		
									<div class="product__row">
										<div class="product__specs--expanded">
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Part number</div>
												<div class="product__spec-value">${ram.part_num}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Type</div>
												<div class="product__spec-value">${ram.ram_type}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Speed</div>
												<div class="product__spec-value">${ram.speed} Ghz</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Cas latency</div>
												<div class="product__spec-value">${ram.cas_latency}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Voltage</div>
												<div class="product__spec-value">${ram.voltage}V</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Timing</div>
												<div class="product__spec-value">${ram.timing}</div>
											</div>										
										</div>

										<div style="display: flex; flex-direction: column; width: 100%;">

											<div class="barchart">
											  <div class="barchart__title">Price per GB ($)</div>								
											  <div class="barchart__row barchart__row--highlight">
											    <div class='barchart__name tooltip'><span>${ram.name}</span><div class="tooltiptext">${ram.name}</div></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: ram.width + '%'}"></div>
											      <div class="barchart__value">$${ram.benchmark}</div>
											    </div>
											  </div>  
											  <div v-for="similar in rams[i].similar_items" class="barchart__row">
											    <div class='barchart__name tooltip'><span>${similar.name}</span><div class="tooltiptext">${similar.name}</div></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: similar.width + '%'}"></div>
											      <div class="barchart__value">$${similar.benchmark}</div>
											    </div>
											  </div>  															  
											</div>	

											<div class="product__row--col">
												<h3 class="suggestions__title">Similar items...</h3>
												<div class="suggestions">
													<div v-for="similar in rams[i].similar_items" class="suggested-product">
														<img class="suggested__img" v-bind:src="similar.image" height="40" alt="" class="suggested-product__img">
														<span class="suggested-product__name">${similar.name}</span>
													</div>
												</div>
											</div>

										</div>						
									</div>
								</template>
								<!-- v-if="ram.expanded" -->
							</li>
						</template>

						<template v-if="page=='Storage'">
							<li class="product" v-for="(hdd, i) in hdds" v-on:click.prevent="toggle_expand(i, 'Storage', $event)">
								<div class="product__row">
									<img v-bind:src="hdd.image" alt="" class="product__img">
									<div class="product__name">${hdd.name}</div>
									<div class="product__price">${hdd.price}</div>
									<button class="btn btn-add" v-on:click.prevent="add_to_build(i)">Add</button>
								</div>
								<template v-if="!hdd.expanded">
									<div class="product__row">
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Interface</div>
											<div class="product__spec-value">${hdd.interface}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">L3 Cache Size</div>
											<div class="product__spec-value">${hdd.cache_size}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Part number</div>
											<div class="product__spec-value">${hdd.part_num}</div>
										</div>
									</div>
								</template>
								<template v-if="hdd.expanded">		
									<div class="product__row">
										<div class="product__specs--expanded">
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Part number</div>
												<div class="product__spec-value">${hdd.part_num}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Interface</div>
												<div class="product__spec-value">${hdd.interface}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Cache size</div>
												<div class="product__spec-value">${hdd.cache_size}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">RPM</div>
												<div class="product__spec-value">${hdd.rpm}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Form factor</div>
												<div class="product__spec-value">${hdd.form_factor}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Capacity</div>
												<div class="product__spec-value">${hdd.capacity}</div>
											</div>										
										</div>

										<div style="display: flex; flex-direction: column; width: 100%;">

											<div class="barchart">
											  <div class="barchart__title">GB per dollar</div>								
											  <div class="barchart__row barchart__row--highlight">
											    <div class='barchart__name tooltip'><span>${hdd.name}</span><div class="tooltiptext">${hdd.name}</div></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: hdd.width + '%'}"></div>
											      <div class="barchart__value">${hdd.benchmark} GB</div>
											    </div>
											  </div>  
											  <div v-for="similar in hdds[i].similar_items" class="barchart__row">
											    <div class='barchart__name tooltip'><span>${similar.name}</span><div class="tooltiptext">${similar.name}</div></div>
											    <div class="barchart__bar">
											      <div class="barchart__percent" v-bind:style="{ width: similar.width + '%'}"></div>
											      <div class="barchart__value">${similar.benchmark} GB</div>
											    </div>
											  </div>  															  
											</div>	

											<div class="product__row--col">
												<h3 class="suggestions__title">Similar items...</h3>
												<div class="suggestions">
													<div v-for="similar in hdds[i].similar_items" class="suggested-product">
														<img class="suggested__img" v-bind:src="similar.image" height="40" alt="" class="suggested-product__img">
														<span class="suggested-product__name">${similar.name}</span>
													</div>
												</div>
											</div>

										</div>						
									</div>
								</template>
								<!-- v-if="ram.expanded" -->
							</li>
						</template>

						<template v-if="page=='Motherboard'">
							<li class="product" v-for="(mboard, i) in mboards" v-on:click.prevent="toggle_expand(i, 'Motherboard', $event)">
								<div class="product__row">
									<img v-bind:src="mboard.image" alt="" class="product__img">
									<div class="product__name">${mboard.name}</div>
									<div class="product__price">${mboard.price}</div>
									<button class="btn btn-add" v-on:click.prevent="add_to_build(i)">Add</button>
								</div>
								<template v-if="!mboard.expanded">
									<div class="product__row">
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Form factor</div>
											<div class="product__spec-value">${mboard.form_factor}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Cpu socket</div>
											<div class="product__spec-value">${mboard.cpu_socket}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Chipset</div>
											<div class="product__spec-value">${mboard.chipset}</div>
										</div>
									</div>
								</template>
								<template v-if="mboard.expanded">		
									<div class="product__row">
										<div class="product__specs--expanded">
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Part number</div>
												<div class="product__spec-value">${mboard.part_num}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Form factor</div>
												<div class="product__spec-value">${mboard.form_factor}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">CPU socket</div>
												<div class="product__spec-value">${mboard.cpu_socket}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Chipset</div>
												<div class="product__spec-value">${mboard.chipset}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Memory type</div>
												<div class="product__spec-value">${mboard.memory_type}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Raid support</div>
												<div v-if="mboard.raid_support" class="product__spec-value">Yes</div>
												<div v-if="!mboard.raid_support" class="product__spec-value">No</div>
											</div>
										</div>

										<div style="display: flex; flex-direction: column; width: 100%; margin-top: 3em;">
											<div class="product__row--col">
												<h3 class="suggestions__title">Similar items...</h3>
												<div class="suggestions">
													<div v-for="similar in mboards[i].similar_items" class="suggested-product">
														<img class="suggested__img" v-bind:src="similar.image">
														<span class="suggested-product__name">${similar.name}</span>
													</div>
												</div>
											</div>

										</div>						
									</div>
								</template>
								<!-- v-if="ram.expanded" -->
							</li>
						</template>

						<template v-if="page=='Power Supply'">
							<li class="product" v-for="(psu, i) in psus" v-on:click.prevent="toggle_expand(i, 'Power Supply', $event)">
								<div class="product__row">
									<img v-bind:src="psu.image" alt="" class="product__img">
									<div class="product__name">${psu.name}</div>
									<div class="product__price">${psu.price}</div>
									<button class="btn btn-add" v-on:click.prevent="add_to_build(i)">Add</button>
								</div>
								<template v-if="!psu.expanded">
									<div class="product__row">
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Type</div>
											<div class="product__spec-value">${psu.psu_type}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Wattage</div>
											<div class="product__spec-value">${psu.wattage}</div>
										</div>
										<div class="product__spec product__spec--vertical">
											<div class="product__spec-name">Efficiency Rating</div>
											<div class="product__spec-value">${psu.efficiency}</div>
										</div>
									</div>
								</template>
								<template v-if="psu.expanded">		
									<div class="product__row">
										<div class="product__specs--expanded">
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Part Number</div>
												<div class="product__spec-value">${psu.part_num}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Type</div>
												<div class="product__spec-value">${psu.psu_type}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Wattage</div>
												<div class="product__spec-value">${psu.wattage}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Efficiency rating</div>
												<div class="product__spec-value">${psu.efficiency}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Modular</div>
												<div class="product__spec-value">${psu.modular}</div>
											</div>
											<div class="product__spec product__spec--expanded">
												<div class="product__spec-name">Fans</div>
												<div class="product__spec-value">${psu.fans}</div>
											</div>
										</div>

										<div style="display: flex; flex-direction: column; width: 100%;margin-top: 3em;">
											<div class="product__row--col">
												<h3 class="suggestions__title">Similar items...</h3>
												<div class="suggestions">
													<div v-for="similar in psus[i].similar_items" class="suggested-product">
														<img class="suggested__img" v-bind:src="similar.image" height="40" alt="" class="suggested-product__img">
														<span class="suggested-product__name">${similar.name}</span>
													</div>
												</div>
											</div>
										</div>						
									</div>
								</template>
								<!-- v-if="ram.expanded" -->
							</li>
						</template>



						<template v-if="page=='My Builds'">
							<!-- <li class="product" v-for="(build, i) in builds" v-on:click.prevent=""> -->
							<li v-for="(build, i) in my_builds" class="product">
								<div class="product__row" style="align-items: center;">
									<div class="my-build__name" style="display: flex;flex-direction: column;">
										<span style="color: #aaa;font-size: 12px;font-weight: 400;">Build name</span>
										<span>${build.name}</span>
									</div>
									<!-- <div class="my-build__quantity">${build.parts.length} Items</div> -->
									<div class="product__price" style="display:flex;flex-direction: column;">
										<span style="color: #aaa;font-size: 12px;font-weight: 400;">Item(s)</span>
										<span>${build.parts.length}</span>
									</div>
									<div class="product__price" style="display:flex;flex-direction: column;">
										<span style="color: #aaa;font-size: 12px;font-weight: 400;">Created on</span>
										<span>${build.created_on.substring(0,11)}</span>
									</div>
									<button class="btn btn-add" style="margin-right: 1em;" v-on:click.prevent="view_my_build(build)">View</button>
									<button class="btn btn-delete" v-on:click.prevent="del_build(i)">Delete</button>
								</div>
								<!-- v-if="gpu.expanded" -->
							</li>
							<div v-if="my_builds.length == 0" class="empty-my-build" v-if="build_parts.length == 0">
								<span>You have no builds. Make one!</span>
							</div>
							<!-- .product -->
						</template>

						<template v-if="page.substring(0,7)=='Viewing'">
							<!-- <li class="product" v-for="(build, i) in builds" v-on:click.prevent=""> -->
							
								<li v-for="part in viewing_build.parts" class="product">
									<div class="build-view__row">
										<img v-bind:src="part.image" alt="" class="product__img">
										<div class="build-view__name">${part.name}</div>
									</div>
									<!-- v-if="gpu.expanded" -->
								</li>
							


							<!-- .product -->
						</template>

						<template v-if="page=='All Builds'">
							<!-- <li class="product" v-for="(build, i) in builds" v-on:click.prevent=""> -->
							<li v-for="(build, i) in all_builds" class="product">
								<div class="product__row" style="align-items: center;">
									<div class="my-build__name" style="width:200px;display:flex;flex-direction: column;">
										<span style="color: #aaa;font-size: 12px;font-weight: 400;">Build name</span>
										<span>${build.name}</span>
									</div>
									<div class="all-builds__email" style="display:flex;flex-direction: column;">
										<span style="color: #aaa;font-size: 12px;font-weight: 400;">Build creator</span>
										<span>${build.user_email}</span>
									</div>
									<!-- <div class="my-build__quantity">${build.parts.length} Items</div> -->
									<div class="product__price" style="display:flex;flex-direction: column;">
										<span style="color: #aaa;font-size: 12px;font-weight: 400;">Item(s)</span>
										<span>${build.parts.length}</span>
									</div>
									<div class="product__price" style="display:flex;flex-direction: column;">
										<span style="color: #aaa;font-size: 12px;font-weight: 400;">Created on</span>
										<span>${build.created_on.substring(0,11)}</span>
									</div>
									<button class="btn btn-add" style="margin-right: 1em;" v-on:click.prevent="view_all_build(build)">View</button>
								</div>
								<!-- v-if="gpu.expanded" -->
							</li>
							<!-- .product -->
						</template>

							
					</ul>
					<!-- .products__list -->

					<!-- BUTTONS -->
					<template v-if="page=='Graphics Card'">
						<div v-if="has_more_gpu" class="btn btn-show-more" v-on:click.prevent="get_more()">Show more</div>
					</template>
					<template v-if="page=='Processor'">
						<div v-if="has_more_cpu" class="btn btn-show-more" v-on:click.prevent="get_more()">Show more</div>
					</template>
					<template v-if="page=='Memory'">
						<div v-if="has_more_memory" class="btn btn-show-more" v-on:click.prevent="get_more()">Show more</div>
					</template>
					<template v-if="page=='Storage'">
						<div v-if="has_more_storage" class="btn btn-show-more" v-on:click.prevent="get_more()">Show more</div>
					</template>
					<template v-if="page=='Motherboard'">
						<div v-if="has_more_motherboard" class="btn btn-show-more" v-on:click.prevent="get_more()">Show more</div>
					</template>
					<template v-if="page=='Power Supply'">
						<div v-if="has_more_powersupply" class="btn btn-show-more" v-on:click.prevent="get_more()">Show more</div>
					</template>
					<template v-if="page.substring(0,7)=='Viewing' && build_view=='My Build'">
						<div class="btn btn-show-more" style="width: 120px;" v-on:click.prevent="goto('My Builds')">Back to My Builds</div>
					</template>		
					<template v-if="page.substring(0,7)=='Viewing' && build_view=='All Build'">
						<div class="btn btn-show-more" style="width: 120px;" v-on:click.prevent="goto('All Builds')">Back to All Builds</div>
					</template>				
					<template v-if="page=='All Builds'">
						<div v-if="has_more_builds" class="btn btn-show-more" v-on:click.prevent="get_more()">Show more</div>
					</template>

				</div>
				<!-- .product-wrapper -->
			</section>
			<!-- .products -->

			<section class="site-content__section--onethirds">
				<header class="site-content__banner"><input type="text" v-model="build_name" ></header>	
				<!-- v-on:change="update_build_name()" -->
				<div class="build-wrapper">
					<ul class="build-list">
						<div class="empty-build" v-if="build_parts.length == 0">
							<span>Your build is empty. Add a part!</span>
						</div>
						<li class="build-item" v-for="(part, i) in build_parts">
							<div class="build-item__row">
								<img v-bind:src="part.image" alt="" class="build-item__img">
								<div class="build-item__name">${part.name}</div>
								<button class="btn btn-remove" v-on:click.prevent="delete_from_build(i)">Remove</button>
								<!-- <i class="ion-trash-a"></i> -->
							</div>
						</li>
					</ul>	
					<div v-if="build_parts.length > 0 && current_user" :class="{'btn btn-create-build' : build_parts.length > 0, 'btn btn-create-build btn-disabled' : build_parts.length == 0 }" style="width:120px;" v-on:click.prevent="insert_build()">Add to My Builds</div>
					<!-- .build-list -->
				</div>
				<!-- .build-wrapper -->
			</section>
			<!-- .build -->
		</div>
		<!-- .site-content -->

    </div>
   	<!-- #vue-div -->
</div>
