/* line 2, ../sass/_main.scss */
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

/* line 7, ../sass/_main.scss */
.post_list {
  padding-top: 10px;
}

/* line 11, ../sass/_main.scss */
.post {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  background: #eeeeee;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

.post-content {
  background: white;
  padding: 1em;
  margin: 1em;
}

.post-label {
  font-weight: 500;
}

body {
  background-color: #eee;
}

ul {
  list-style: none;
    margin: 0 auto;
    padding: 0;
}

.form-horizontal .form-group {
  margin-left: 0; 
  margin-right: 0; 
}

.btn {
  border-radius: 3px;
}

.btn-cancel {
  width: 72px;
}

.main-container {
  padding-bottom: 20px;
  margin: 20px auto;
  max-width: 700px;
}

.product-img {
  padding: 5px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

td {
  padding: 0.5em;
}
.product-row {
  border-bottom: 1px solid #ccc;
}
th {
  padding-left: 0.5em;
}

.product-row--even {
  background-color: transparent;
}

.product-row--odd {
  background-color: white;
}

.button-add {
  padding: .2em 1em;
}
