* {
	font-family: "Open Sans", sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
body {
	margin: 0;
	background: rgb(250, 250, 250);
	min-width: 666px;
}
.site-header {
	margin: 0 auto;
	/*background: #dcdcdc;*/
	/*background: #3b3e47;*/
	background: white;
	min-width: 1000px;
	}
.site-nav {
	margin: 0;
	/*background: #636363;*/
	/*background: #888;*/
	background: white;
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0901961);
	min-width: 1000px;
}
.site-nav__list {
	margin: 0;
	padding:0;
}
.site-logo {
	display: block;
}
.ion-social-apple {
	font-size: 36px;
	color: #555;
	display: block;
	padding-left: 36px;
	margin-right: .5em;
}
.site-header__content {
	max-width: 1228px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	padding-left: 72px;
}
.btn__admin {
	display: block;
	margin-left: auto;
	margin-right: 32px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
}
.btn {
	border-radius:20px;
	/*background: #6c6c6c;*/
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.439216);
	font-size: 12px;
	padding: .8em 1.8em;
	color: rgba(0, 0, 0, 0.439216) !important;
	box-shadow: none;
	/*border: 0;*/
	font-weight: 400;
	cursor: pointer;
}
.btn:focus {
	outline: 0
}
ul {
	list-style: none;
}
.site-nav__list {
	display: flex;
	flex-direction: row;
	background: transparent;
	align-items: center;
	max-width: 1228px;
	margin: 0 auto;
}
.site-nav__item {
	font-size: 14px;
	font-weight: 400;
	padding-right: 2em;
	color: rgba(0, 0, 0, 0.439216);
	line-height: 80px;
	height: 80px;
	cursor: pointer;
}

.site-nav__item:nth-child(7) {
	margin-left: 216px;
}
.site-nav__item:first-child {
	margin-left: 36px;
}
.site-nav__item.is-active .site-nav__name {
    line-height: 70px;
    padding-top: 5px;
    border-bottom: 5px x white;
   /* color: rgba(0,0,0,.7) !important;*/
    color: rgba(7,94,254,.9) !important;
    font-weight: 700;
}

.site-content {
	max-width: 1228px;
	margin: 0 auto;
	background: transparent;
	margin-top: 32px;
	margin-bottom: 128px;
	display: flex;
	flex-direction: row;
	text-align: left;
}

.site-content__banner {
    /* background: #aaa; */
    /* background: #636363; */
    /*background: #f2f2f2;*/
    background: rgb(250, 250, 250);
    line-height: 24px;
    padding-left: 36px;
    padding-top: 0;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #494f5c;
    border-radius: 8px 8px 0 0;
    text-align: left;
}
.site-content__section--twothirds {
	margin: 0 32px; 
	width: 797px;
	min-width: 797px;
	background: white;
	align-self: flex-start;
}

.site-content__section--onethirds {
	width: 398px;
	min-width: 398px;
	background: white;
	margin-right: 32px;
	align-self:flex-start;
}

.products__filter {
	display: flex;
	flex-direction: row;
	align-items:center;
	font-size: 12px;
	color: #9d9d9d;
	margin-left: 100px;
	margin-top: 2em;
	font-weight: 400;
}

.products__dropdown {
	width: 80px;
	border-radius: 25px;
	border: 1px solid rgba(0, 0, 0, 0.439216);
	color: #494f5c;
	padding: .5em 1.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1em;
	cursor: pointer;
	font-weight: 400;
}
.products__dropdown .ion-chevron-down {
	font-size: 12px;
	display: block;
	margin-left: auto;
}
.products__list, .build-list{
	margin: 1.5em 36px;
	padding: 0;
}
.product-wrapper, .build-wrapper {
	border: 1px solid rgba(0, 0, 0, 0.0901961);
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border-radius: 3px;
}
.product__row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.build-view__row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.build-view__name {
	font-size: 16px;
    /*margin-right: 4em;*/
    color: #494f5c;
}

.product__row--col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.product__specs--expanded {
	width: 300px;
	display: flex;
	flex-direction: column;
}
.product__img {
	height: 40px;
	width: 40px;
	margin-right: 1em;
}
.product__name, .product__price{
	font-weight: 400;
	/*color: #474747;*/
	color: #494f5c;
	font-weight: 400;
	/*margin-top: -18px;*/
	flex-shrink: 1;
}
.product__name {
	width: 440px;
	font-size: 18px;
	margin-right: 4em
}
.product__price {
	font-size: 16px;
	margin-right: 2em;
}

.product__row:nth-child(2){
	margin-left: 58px;
	margin-top: 1em;
}
.product__spec {
	margin-right: 2em;
}

.product__spec--expanded {
	margin-bottom: 1em;
}

.product__spec--expanded:first-child {
	margin-top: 1em;
}
.product__spec-name {
	/*color: #777;*/
	color: #aaa;
	font-size: 12px;
	font-weight: 400;
}
.product__spec-value {
	font-size: 14px;
	/*color: #474747;*/
	color: #494f5c;
	font-weight: 400;
}
.product, .build-item{
	padding: 1em 0 1.2em 0;
	border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
}

.build-item:only-of-type, .product:only-of-type {
	padding-bottom: 0;
}


.product:first-child, .build-item:first-child {
	padding-top: 0;
}
.product:last-child, .build-item:last-child {
	border: 0;
}

.build-list{
	/*min-height: 100px;*/
}

.empty-build {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-weight: 400;
	font-size: 14px;
	color: #aaa;
}
.build-item__img {
	height: 40px;
	width: 40px;
	margin-right: 1em;
}
.build-item__name {
	font-size: 16px;
	margin-right: 1em;
	font-weight: 400;
	/*margin-top: -18px;*/
	flex-shrink: 1;
	color: #494f5c;
}
.build-item__row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 1em;
}
.build-item__row:nth-child(2) {
	margin-left: 56px;
}
.build-item__spec-name {
	color: #aaa;
	font-size: 10px;
	margin-right: 1em;
	font-weight: 400;
}
.build-item__spec-value {
	color: #494f5c;
	font-size: 14px;
	margin-right: 1em;
	font-weight: 400;
}
.logo__text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-top: 4px;
	font-family: 'bungee';
}
.logo__text span{
	font-family: 'bungee';
   letter-spacing: 4px;
   color: #075EFE;
}
a, a:visited {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.439216) !important;
}

.btn-remove {
	margin-left: auto;
}

.btn-add{
	margin-left: auto;
/*	color: #075EFE !important;
	border-color: #075EFE;*/
}

.btn-delete {
	color: #EE4445 !important;
	border-color: #EE4445;
}

.btn-create-build {
	color: #075EFE !important;
	border-color: #075EFE;
}

.btn-show-more {
	margin-bottom: 36px;
    width: 80px;
    text-align: center;
    margin: 0 auto 36px;
}


/* chart */

    .container1, .container2 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 300px;
        height: 300px;
        position: relative;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    svg {
        width: 100%;
        height: 100%;
        position: center;
    }

    .toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }

    text {
        font: 12px sans-serif;
        color: white;
    }
    text.value {
        font-size: 12px;
        fill: steelblue;
    }

    .axisHorizontal path{
        fill: none;
    }

 /*   .axisHorizontal .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }*/

    .bar {
        fill: steelblue;
        fill-opacity: .9;
    }

    svg {
    	height: 200px;
    	display: inline-block;
    }


.barchart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
/*  width: 500px;
  height: 500px;*/
  background: #fff;
}

.barchart__title {
  margin-bottom: 1em;
  color: #444;
  font-weight: 400;
  font-size: 14px;
}

.barchart__row {
  width: 370px;
  height: 24px;
  background: #ddd;
  background: #fff;
  display:flex;
}

.barchart__name {
	height: 100%;
	background: #bbb;
	background: #fff;
	width: 140px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: left;
	margin-right: 1em;
	color: #444;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
}

.barchart__name span {
	width: 140px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.barchart__bar {
  width: 200px;
  height: 100%;
  background: #444;
  background: #fff;
  display:flex;
  align-items:center;
}

.barchart__percent {
  /*width: 74%;*/
  height: 12px;
  background: #ddd;
}

.barchart__value {
	display: flex;
	align-items: start;
	margin-left: 1em;
	font-size: 14px;
	color: #444;
	font-weight: 400;
}

.barchart__row--highlight .barchart__name{
	color: #444;
	color: #075EFE
}

.barchart__row--highlight .barchart__percent{
	background: #aaa;
	background: rgba(7,94,254,.6);
}

.barchart__row--highlight .barchart__value{
	color: #444;
	color: #075EFE
}

.suggestions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
}

.suggested-product__name {
	font-size: 12px;
	margin-top: 1em;
	color: #333;
}
.suggested-product {
	margin-right: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.suggested-product:last-child {
	margin-right: 0;
}

.suggested__img {
	height: 40px;
	width: 40px;
}
.suggestions__title {
	font-size: 16px;
	font-weight: 400;
	color: #333;
	margin-bottom: 2em;
}

.u-margin-top-1-em {
	margin-top: 1em;
}

.btn-create-build {
	  width: 80px;
    text-align: center;
    margin: 0 auto 36px;
}
.btn-disabled {
	color: #ccc !important;
  border-color: #ddd !important;
}

.my-build__name {
	font-size: 16px;
	width: 255px;
	margin-right: 2em;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.my-build__quantity{
	margin-right: 2em;
}

.site-content__banner input {
	background: transparent;
	width: 100%;
    border: 0;
    font-size: 20px;
    color: #494f5c;
    padding: 0;
    line-height: 24px;
}

input:focus {
	outline: 0;
}


.w2p_flash.alert.alert-dismissable {
	display: block;
	text-align: center;
	padding: 1em 0;
	background: #eee;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0901961);
	cursor: pointer;
	color: #444;
}

#closeflash {
	margin-left: .5em;
}

.all-builds__email {
	margin-right: 1em;
	width: 190px;
	color: #444;
}

#web2py_user_form {
  display: flex;
  justify-content: center;
}

.col-md-12 {
	text-align: center;
}


input.form-control.string {
	background-color: white !important;
}

input:-webkit-autofill {
	background-color: white !important;
}

#submit_record__row .col-sm-offset-3 {
	display: flex;
	flex-direction: column;
}

#submit_record__row .btn {
	
	width: 150px;
	margin: 0 auto;
	margin-bottom: 1em;
}

#auth_user_remember_me__row {
	font-size: 12px;
}

#auth_user_password__row {
	margin-bottom: 1em;
}

.checkbox {
	margin-bottom: 1em;
}

#auth_user_password_two {
	margin-bottom: 1.5em;
}

.w2p-form-button:last-child {
	border: 0;
}

#auth_user_password_two__row {
	margin-top: -1em;
}

#auth_user_last_name__row {
	margin-top: .4em;
}

#auth_user_password, #auth_user_email, #auth_user_last_name, #auth_user_first_name, #auth_user_password_two{
	width: 100%;
}

#auth_user_email__label, #auth_user_password__label, #auth_user_last_name__label, #auth_user_first_name__row, #auth_user_last_name__row, #auth_user_password_two__label {
	font-size: 12px;
	text-align: left;
}

#auth_user_email__row, #auth_user_password__row, #auth_user_password_two__row {
	text-align: left;
}


.fa-hdd-o {
	font-size: 18px !important;
  top: 2px;
  position: relative;
  margin-right: 6px;
  color: #333;
}

.logo__text {
	color: #333;
}

.empty-my-build {
	height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

/* Tooltip container */
.tooltip {
    position: relative;
/*    display: inline-block;
    border-bottom: 1px dotted black; */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    /*width: 120px;*/
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logged-in-user {
	padding: 20px;
	padding-right: 2em;
    color: rgba(0, 0, 0, 0.439216) !important;
    cursor: default;
    text-transform: capitalize;
}